{% extends 'general/base.html' %}

{% block title %} Edit Tag {% endblock %}

{% block content %}

<h1>Edit a Tag</h1>

<form method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{tag.name}}">

    <br>
    <br>

    {% for post in posts %}
    <input type="checkbox" 
        value="{{post.id}}" 
        id="post_{{post.id}}" {% if post in tag.posts %} checked
        {% endif %}
        name="posts">
    <label for="post_{{post.id}}">{{post.title}}</label>
    &nbsp; 
    {% endfor %}

    <br>
    <br>

    <button type="button" class="cancel" onclick="window.location.href='/tags/{{tag.id}}'">Cancel</button>
    <button type="submit" class="save">Save</button>
</form>


{% endblock %}