{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}

<h1>{{post.title}}</h1>

<p>{{post.content}}</p>

<i>By {{user.full_name}}</i>

<br>

<small>{{post.friendly_date}}</small>

<br>
<br>

<button type="button" class="cancel" onclick="window.location.href='/users'">Cancel</button>

<button class="edit" onclick="window.location.href='/posts/{{post.id}}/edit'">Edit</button>

<button class="delete" onclick="window.location.href='/posts/{{post.id}}/delete'">Delete</button>

{% endblock %}




